---
name: Nightly cron publish

on:
  schedule:
    - cron: "2 0 * * *"

jobs:
  build_and_publish:
    name: Build and publish docker
    runs-on: ubuntu-latest
    timeout-minutes: 45
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          platforms: "linux/amd64,linux/arm64"
          use: true

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push the nightly
        run: ./build.sh
        env:
          TARGET_PLATFORM: "linux/amd64,linux/arm64"
          PS_VERSION: "nightly"
          PUSH: "true"
